kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: tech-challenge
nodes:
  - role: control-plane
  - role: worker
    extraPortMappings:
    - containerPort: 30000
      hostPort: 30000
      protocol: TCP